@media screen {
    :root {
        --page-padding: 12px;
        --content-max-width: none;
    }

    .content {
        padding-inline: 0;
    }

    .table-wrapper table {
        width: max-content;
        min-width: 100%;
    }

    .table-wrapper th,
    .table-wrapper td {
        min-width: 6rem;
        max-width: 32rem;
        text-align: left;
        vertical-align: middle;
    }

    .nav-wide-wrapper {
        display: none;
    }

    .nav-wrapper {
        display: block;
    }
}
